@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,500;1,500&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
body,
html {
  background-color: rgb(8, 8, 8);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.uk-card-default,
.uk-button-default {
  color: white;
}
.uk-button-default:focus,
.uk-button-default:hover {
  color: rgb(202, 201, 201);
  border-color: rgb(95, 95, 247);
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}

.uk-card-default {
  background: #303149;
  padding: 10px;
}
.uk-nav-default .uk-nav-header {
  color: rgb(240, 240, 240);
}

.uk-nav-default > li > a {
  color: rgb(204, 204, 204);
}
.uk-nav-default > li > a:focus,
.uk-nav-default > li > a:hover {
  color: rgb(100, 136, 202);
}
.tag {
  border: 1px solid #525383;
  padding: 5px;
  margin: 2px;
}
.product-des {
  text-align: left;
}

/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* end loader */
